<nav class="navbar navbar-expand-lg trekking-navbar">
  <div class="container-fluid px-4">

    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img 
        src="assets/trekking.com_logo.png"
        alt="Trekking.com"
        class="logo">
    </a>


    <button 
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu">

      <span class="navbar-toggler-icon"></span>

    </button>


    <div class="collapse navbar-collapse" id="navbarMenu">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" href="#">
            Home
          </a>
        </li>


        <li class="nav-item dropdown">

          <a 
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown">

            Treks

          </a>

          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" href="#">
                Himalayan Treks
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="#">
                Weekend Treks
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="#">
                Adventure Tours
              </a>
            </li>

          </ul>

        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">
            Destinations
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="#">
            About
          </a>
        </li>

      </ul>


      <div class="search-box">

        <input 
          type="text"
          placeholder="Search adventures...">

        <button>
          Search
        </button>

      </div>


    </div>

  </div>
</nav>