<nav class="navbar navbar-expand-lg trekking-navbar fixed-top">

  <div class="container-fluid px-lg-5 px-3">

    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img
        src="assets/trekking.com_logo.png"
        alt="Trekking.com"
        class="logo">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">

      <ul class="navbar-nav mx-auto">

        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>

        <li class="nav-item dropdown">

          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown">

            Treks

          </a>

          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="#">Himalayan Treks</a></li>
            <li><a class="dropdown-item" href="#">Weekend Treks</a></li>
            <li><a class="dropdown-item" href="#">Adventure Tours</a></li>

          </ul>

        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Destinations</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Expeditions</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

      </ul>

      <div class="d-flex align-items-center right-menu">

        <div class="search-box">

          <input
            type="text"
            placeholder="Search Treks">

          <button>
            <i class="bi bi-search"></i>
          </button>

        </div>

        <button class="book-btn">

          Book Now

        </button>

      </div>

    </div>

  </div>

</nav>