<section class="hero">


  <!-- Background Overlay -->
  <div class="hero-overlay"></div>


  <div class="container hero-content">


    <div class="hero-text">


      <span class="eyebrow">
        EXPERIENCE THE WILDERNESS
      </span>


      <h1>
        Beyond Trails.
        <br>
        Beyond Limits.
      </h1>


      <p>
        Discover breathtaking mountain journeys,
        hidden trails and unforgettable adventures
        across the Himalayas.
      </p>



      <div class="hero-actions">


        <button class="primary-btn">
          Explore Expeditions
        </button>


        <button class="outline-btn">
          Watch Story
        </button>


      </div>


    </div>




    <!-- Floating Expedition Card -->

    <div class="expedition-card">


      <div class="card-header">

        <span>
          FEATURED TREK
        </span>

        <i class="bi bi-arrow-up-right"></i>

      </div>


      <h3>
        Everest Base Camp
      </h3>


      <p>
        Nepal Himalayas
      </p>


      <div class="details">


        <div>
          <strong>14</strong>
          <small>Days</small>
        </div>


        <div>
          <strong>5364m</strong>
          <small>Altitude</small>
        </div>


        <div>
          <strong>4.9</strong>
          <small>Rating</small>
        </div>


      </div>


    </div>


  </div>




  <!-- Bottom Stats -->


 <div class="hero-stats container">

  <div>
    <h2 appCountUp="500">0+</h2>
    <span>Treks Completed</span>
  </div>

  <div>
    <h2 appCountUp="50">0+</h2>
    <span>Mountain Routes</span>
  </div>

  <div>
    <h2 appCountUp="10">0K+</h2>
    <span>Happy Explorers</span>
  </div>

  <div>
    <h2 appCountUp="15">0</h2>
    <span>Years Experience</span>
  </div>

</div>
</section>