<app-topbar></app-topbar>

<app-hero></app-hero>


<!-- TREK CATEGORIES -->

<section
  class="lazy-section scroll-reveal"
  appLazySection
  appScrollReveal
  (sectionVisible)="loadTrekCategories()"
>
  <ng-container *ngIf="trekCategoriesLoaded">
    <app-trek-categories></app-trek-categories>
  </ng-container>
</section>


<!-- FEATURED TREKS -->

<section
  class="lazy-section scroll-reveal"
  appLazySection
  appScrollReveal
  (sectionVisible)="loadFeaturedTreks()"
>
  <ng-container *ngIf="featuredTreksLoaded">
    <app-featured-treks></app-featured-treks>
  </ng-container>
</section>