<section class="trek-category-section">


<div class="container">


    <!-- Header -->

    <div class="section-header">


        <span>
            EXPLORE ADVENTURES
        </span>


        <h2>
            Choose Your<br>
            Next Expedition
        </h2>


        <p>
            From Himalayan trails to international summits,
            discover adventures crafted for explorers.
        </p>


    </div>





    <!-- Cards -->


   <div class="trek-carousel">


    <div 
    class="trek-page"
    *ngIf="trekCategories[currentIndex] as trek">


        <div class="page-image">

            <img 
            [src]="trek.image"
            [alt]="trek.title"
            >

        </div>




        <div class="page-content">


            <span>
                {{currentIndex + 1}} / {{trekCategories.length}}
            </span>



            <h3>
                {{trek.title}}
            </h3>



            <p>
                {{trek.subtitle}}
            </p>



            <div class="details">


                <span>
                    {{trek.trekCount}}+ Trails
                </span>


                <span>
                    {{trek.difficulty}}
                </span>


            </div>




            <button>
                Explore Journey →
            </button>



        </div>


    </div>





    <!-- PAGE CONTROLS -->


    <div class="page-controls">


        <button 
        (click)="previousPage()">

            ←

        </button>



        <button 
        (click)="nextPage()">

            →

        </button>


    </div>



</div>


</div>


</section>