.trek-category-section {


padding:120px 0;

background:#f5f3ed;


}




/* HEADER */

.section-header {


max-width:750px;

margin-bottom:70px;



span {


font-size:13px;

letter-spacing:4px;

font-weight:700;

color:#c99a3b;


}




h2 {


margin-top:20px;


font-size:70px;

line-height:1;


font-weight:900;


color:#172017;



}



p {


margin-top:25px;


font-size:18px;

color:#666;


}


}







/* GRID */

.trek-grid {


display:grid;


grid-template-columns:
repeat(3,1fr);


gap:30px;


}







/* CARD */

.trek-card {


height:520px;


position:relative;


overflow:hidden;


border-radius:35px;


cursor:pointer;



box-shadow:

0 20px 50px rgba(0,0,0,.12);



img {


height:100%;

width:100%;

object-fit:cover;


transition:1s;


}



&:hover img {


transform:scale(1.1);


}



}





/* OVERLAY */


.overlay {


position:absolute;

inset:0;


background:

linear-gradient(
180deg,
transparent 20%,
rgba(0,0,0,.85)
);



}





/* CONTENT */


.card-content {


position:absolute;


bottom:0;


padding:35px;


color:white;



.icon {


font-size:35px;

margin-bottom:15px;


}




h3 {


font-size:38px;


font-weight:900;


margin-bottom:10px;


}




p {


font-size:15px;


opacity:.85;


}





.details {


display:flex;

gap:12px;

margin:25px 0;



span {


background:

rgba(255,255,255,.18);


padding:8px 15px;


border-radius:30px;


font-size:13px;


backdrop-filter:blur(10px);


}


}





button {


background:#d9a441;

border:none;


padding:13px 28px;


border-radius:40px;


font-weight:700;


color:#111;


transition:.3s;



&:hover {


transform:translateX(8px);


}


}


}








/* RESPONSIVE */


@media(max-width:1100px){


.trek-grid {


grid-template-columns:
repeat(2,1fr);


}


.section-header h2 {


font-size:55px;


}


}






@media(max-width:768px){


.trek-grid {


grid-template-columns:1fr;


}



.trek-card {


height:450px;


}



.section-header h2 {


font-size:42px;


}


}




@media(max-width:480px){



.trek-category-section {


padding:80px 0;


}



.section-header h2 {


font-size:36px;


}


.card-content {


padding:25px;



h3 {


font-size:30px;


}


}


}